.inputfile + label {
	cursor: pointer;  
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
#pic {
    height: 0;
    width: 0;
}

#upload-photo-label {
    border: 1px solid #cccccc;
    padding: 5px 30px;
    font-family:arial;
    font-size: 13px;
    border-radius: 2px;
}
#upload-photo-label:active{
    background:#ccc;
}
.err{
    color: red;
}
.suc{
    color: springgreen;
}