<script>window.__theme = 'bs4';</script>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h3>Liste des exercices</h3>
                <div style="float: right; margin-bottom: 10px;">
                  <button class="btn btn-primary" style="margin-right: 5px;" (click)="openModal(template)">Nouveau
                    exercice</button>
                    <button class="btn btn-info" (click)="showFilter()">Filtrer<i class="fa fa-filter"
                            aria-hidden="true"></i></button>
                </div>
            </header>
            <div style="margin-top: 30px; margin-right: 2">
                <alert type="danger" dismissible="true" *ngIf="addingError">
                    <strong>Erreur!</strong> Une erreur s'est produite lors d'ajout d'personne.
                </alert>
                <alert type="success" dismissible="true" *ngIf="employeAdded">
                    <strong>Succées !</strong> L'ajout est effectué avec succés.
                </alert>
                <alert type="danger" dismissible="true" *ngIf="updatingError">
                    <strong>Erreur!</strong> Une erreur s'est produite lors de mise à jour d'personne.
                </alert>
                <alert type="success" dismissible="true" *ngIf="employeUpdated">
                    <strong>Succées !</strong> La mise à jour est effectué avec succés.
                </alert>
                <alert type="danger" dismissible="true" *ngIf="deleteError">
                    <strong>Erreur!</strong> Une erreur s'est produite lors de la suppression d'personne.
                </alert>
                <alert type="success" dismissible="true" *ngIf="deleted">
                    <strong>Succées !</strong> La suppression est effectué avec succés.
                </alert>
            </div>

            <table class="table table-striped table-advance table-hover" *ngIf="!(noData && dataLoaded)">
                <thead>
                    <tr>
                        <th>
                            <ng-container *ngIf="!filter">CodeEx</ng-container>
                            <ng-container *ngIf="filter"><input type="checkbox" class="form-control" placeholder="Status"
                                    [(ngModel)]="Status" [value]="Status">
                            </ng-container>
                        </th>
                        <th>
                            <ng-container *ngIf="!filter">DateOuverture</ng-container>
                            <ng-container *ngIf="filter"><input type="text" class="form-control" placeholder="Nom"
                                    [(ngModel)]="nom_field" [value]="nom_field">
                            </ng-container>
                        </th>
                        <th>
                            <ng-container *ngIf="!filter">DateCloture</ng-container>
                            <ng-container *ngIf="filter"><input type="text" class="form-control" placeholder="Prénom"
                                    [(ngModel)]="prenom_field" [value]="prenom_field">
                            </ng-container>
                        </th>
                        <th>
                            <ng-container *ngIf="!filter">CadreLegal</ng-container>
                            <ng-container *ngIf="filter"><input type="text" class="form-control"
                                    [(ngModel)]="date_naiss_field" [value]="date_naiss_field"
                                    placeholder="Date de naissance"></ng-container>
                        </th>
                    
                        <th style="min-width: 5%;">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let newPersoneMorl of employees">
                    <tr>
 
                        <td>{{newPersoneMorl.codeEx}}</td>
                        <td>{{newPersoneMorl.dateOuverture | date: 'dd-MM-yyyy'}}</td>
                        <td>{{newPersoneMorl.dateCloture | date: 'dd-MM-yyyy'}}</td>
                        <td>{{newPersoneMorl.cadreLegal}}</td>

                        <td>
                            <div class="btn-group">
                                <button class="btn btn-info" tooltip="Details"
                                    (click)="openDetailsModal(details, newPersoneMorl)"><i
                                        class="icon_info_alt"></i></button>
                                <button tooltip="Modifier" (click)="openUpdateModal(updatetemplate, newPersoneMorl)"
                                    class="btn btn-success"><i class="icon_pencil-edit_alt"></i></button>
                                <button class="btn btn-danger" tooltip="Supprimer"
                                    (click)="openDeleteModal(confirmDelete, newPersoneMorl, i)"><i
                                        class="icon_close_alt2"></i></button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <alert type="info" *ngIf="noData && dataLoaded">
                <strong>Il n'y a aucun exercice  à afficher!</strong>
            </alert>
        </section>
    </div>
</div>

<ng-template #template>
  <form class="form-horizontal " method="get">
      <div class="modal-header">
          <h3 class="modal-title pull-left">Ajout d'un exercice</h3>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body">


          <div class="form-group">
            <div class="col-sm-4 pull-left">
                <label class="control-label">DateOuverture*</label></div>
            <div class="col-sm-8">
                <input type="date" class="form-control" [(ngModel)]="newExercice.dateOuverture"
                    [ngModelOptions]="{standalone: true}" id="DateOuverture" nom="DateOuverture" required
                    #DateOuverture="ngModel">
                <div *ngIf="DateOuverture.errors && (DateOuverture.dirty || DateOuverture.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!DateOuverture.errors.required">
                      DateOuverture obligatoire!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 pull-left">
              <label class="control-label">DateCloture*</label></div>
          <div class="col-sm-8">
              <input type="date" class="form-control" [(ngModel)]="newExercice.dateCloture"
                  [ngModelOptions]="{standalone: true}" id="DateCloture" nom="DateCloture" required
                  #DateCloture="ngModel">
              <div *ngIf="DateCloture.errors && (DateCloture.dirty || DateCloture.touched)"
                  class="alert alert-danger">
                  <div [hidden]="!DateCloture.errors.required">
                      DateCloture obligatoire!
                  </div>
              </div>
          </div>
      </div>
          <div class="form-group">
              <div class="col-sm-4 pull-left">
                  <label class="control-label">CadreLegal*</label></div>
              <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="newExercice.cadreLegal"
                      [ngModelOptions]="{standalone: true}" name="CadreLegal" id="CadreLegal" required #CadreLegal="ngModel">
                  <div *ngIf="CadreLegal.errors && (CadreLegal.dirty || CadreLegal.touched)" class="alert alert-danger">
                      <div [hidden]="!CadreLegal.errors.required">
                        CadreLegal obligatoire!
                      </div>
                  </div>
              </div>
          </div>


      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-success pull-left" (click)="addEmployee()">Ajouter</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Annuler</button>

      </div>
  </form>
</ng-template>

<ng-template #updatetemplate>
    <form class="form-horizontal">
        <div class="modal-header">
            <h3 class="modal-title pull-left">Modification de employee </h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">Poste*</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employeToupdate.raisonSocial"
                        [ngModelOptions]="{standalone: true}" id="nom" name="nom" required #nom="ngModel">
                    <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
                        <div [hidden]="!nom.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">DateOuverture*</label></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employeToupdate.DateOuverture"
                        [ngModelOptions]="{standalone: true}" name="DateOuverture" id="DateOuverture" required #DateOuverture="ngModel">
                    <div *ngIf="DateOuverture.errors && (DateOuverture.dirty || DateOuverture.touched)" class="alert alert-danger">
                        <div [hidden]="!DateOuverture.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">CDateFinService*</label></div>
                <div class="col-sm-8">
                    <input type="number" class="form-control" [(ngModel)]="employeToupdate.chiffreDaffaire"
                        [ngModelOptions]="{standalone: true}" id="chiffreDaffaire" nom="chiffreDaffaire" required
                        #chiffreDaffaire="ngModel">
                    <div *ngIf="date_naiss.errors && (date_naiss.dirty || date_naiss.touched)"
                        class="alert alert-danger">
                        <div [hidden]="!date_naiss.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">SalaireBrut*</label></div>
                <div class="col-sm-8">
                    <input type="email" class="form-control" [(ngModel)]="employeToupdate.email"
                        [ngModelOptions]="{standalone: true}" name="email" id="email" required #email="ngModel"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                        <div [hidden]="!email.errors.required">
                            Champ obligatoire!
                        </div>
                        <div [hidden]="!email.errors.pattern">
                            Email invalide!!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">PrivilegeNature*</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employeToupdate.adresse"
                        [ngModelOptions]="{standalone: true}" name="adresse" id="adresse" required #adresse="ngModel">
                    <div *ngIf="adresse.errors && (adresse.dirty || adresse.touched)" class="alert alert-danger">
                        <div [hidden]="!nom.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">TotalRevenuBrutImposable*</label>
                </div>
                <div class="col-sm-8">
                    <input type="tel" class="form-control" [(ngModel)]="employeToupdate.numCnss"
                        [ngModelOptions]="{standalone: true}" minlength="8" maxlength="8" id="tel" name="tel" required
                        #tel="ngModel">
                    <div *ngIf="tel.errors && (tel.dirty || tel.touched)" class="alert alert-danger">
                        <div [hidden]="!tel.errors.required">
                            Champ obligatoire!
                        </div>
                        <div [hidden]="!tel.errors.minlength">
                            Numéro de telephone invalide!!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 pull-left">
                    <label class="control-label">RevenuInvesti*</label></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employeToupdate.login"
                        [ngModelOptions]="{standalone: true}" id="login" name="login" required #login="ngModel">
                    <div *ngIf="login.errors && (login.dirty || login.touched)" class="alert alert-danger">
                        <div [hidden]="!login.errors.required">
                            Champ obligatoire!
                        </div>
                    </div>
                </div>
            </div>

          <div class="form-group">
            <div class="col-sm-4 pull-left">
                <label class="control-label">MontantNetPaye*</label></div>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="employeToupdate.login"
                    [ngModelOptions]="{standalone: true}" id="login" name="login" required #login="ngModel">
                <div *ngIf="login.errors && (login.dirty || login.touched)" class="alert alert-danger">
                    <div [hidden]="!login.errors.required">
                        Champ obligatoire!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 pull-left">
              <label class="control-label">MontantReduits*</label></div>
          <div class="col-sm-8">
              <input type="text" class="form-control" [(ngModel)]="employeToupdate.login"
                  [ngModelOptions]="{standalone: true}" id="login" name="login" required #login="ngModel">
              <div *ngIf="login.errors && (login.dirty || login.touched)" class="alert alert-danger">
                  <div [hidden]="!login.errors.required">
                      Champ obligatoire!
                  </div>
              </div>
          </div>
      </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success pull-left" (click)="updateEmployee();">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Annuler</button>

        </div>
    </form>
</ng-template>

<ng-template #details>
    <div class="modal-header">
        <h3 class="modal-title pull-left">Detail:{{selectedEmployee.login}}</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <div style="display: inline-block; width:50%;"> -->

        <!-- </div> -->
        <div style="margin-left:20px; font-size: 14;">
            <table>
                <tr>

                    <td>
                        <strong>Adresse:</strong> {{selectedEmployee.adresse}}<br>
                        <strong>Email:</strong> {{selectedEmployee.email}}<br>
                        <strong>Nationnalite:</strong> {{selectedEmployee.nationnalite}}<br>
                        <strong>Email:</strong> {{selectedEmployee.email_emp}}<br>
                        <strong>Numero de telephone:</strong> {{selectedEmployee.tel}}<br>
                        <strong>Date Debut Activite:</strong> {{selectedEmployee.dateDebutActivite | date: 'dd-MM-yyyy'}}<br>
                        <strong>activite:</strong> {{selectedEmployee.activite}}<br>
                        <strong>chiffreDaffaire:</strong> {{selectedEmployee.chiffreDaffaire}}<br>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-left:20px; font-size: 14;">
            <table>
                <tr>

                    <td>

                        <strong>Assujettissement Impots:</strong> {{selectedEmployee.assujettissement_impots}}<br>
                        <strong>Qssujettissement TVA:</strong> {{selectedEmployee.assujettissement_tva}}<br>
                        <strong>Numero Cnss:</strong> {{selectedEmployee.numCnss}}<br>
                        <strong>Raison Social:</strong> {{selectedEmployee.raisonSocial}}<br>
                        <strong>Periodicite Acitivte:</strong> {{selectedEmployee.periodicite_acitivte}}<br>
                        <strong>Regime Impot:</strong> {{selectedEmployee.regime_impot}}<br>
                    </td>
                </tr>
            </table>
        </div>
        <div style=" left: 80%;position: relative;">
            <button tooltip="Accepter" (click)="ConifrmerInscriMoral(selectedEmployee.nif)"
            class="btn btn-success"><i class="icon_pencil-edit_alt"></i></button>
        <button class="btn btn-danger" tooltip="Annuler" style="margin-left: 1%;"
            (click)="modalRef.hide()"><i
                class="icon_close_alt2"></i></button>
        </div>


    </div>
</ng-template>

<ng-template #confirmDelete>
    <div class="modal-body text-center">
        <p>Êtes-vous sûr de vouloir supprimer cet employé ?</p>
        <button type="button" style="margin-right: 7px;" class="btn btn-default" (click)="confirm()">Oui</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Non</button>
    </div>
</ng-template>